@CHARSET "UTF-8";
#container
{
	height: 100%;
	width: 100%; 
	background-color: blue;
}
#petInfoContainer
{
	width: 33%; 
	height: 1000px; 
	float: left; 
}

#petImage
{
	height: 200px; 
	background-color: blue;
}		
		
#battleFeedContainer
{
	width:33%;
	height: 1000px; 
	float: left; 
	background-color: red;  
}
		
		
#activeUsersContainer
{
	width:33%; 
	height: 1000px; 
	float: left; 
	background-color: black; 
}
		